.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


/* shared styles */
.text-color {
  color: #6a65ff;
}

.btn-primary {
  background-color: #6a65ff;
  font-size: 14px;
  font-weight: bold;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.337);
  cursor: pointer;
}

.btn-secondary {
  background-color: #6a65ff;
  font-size: 14px;
  font-weight: bold;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.337);
  cursor: pointer;
  margin-bottom: 155px;
}

/* header styles */
.header {
  background-image: url(../images/Hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;

}

/* nav styles */
nav {
  padding: 15px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-title {
  font-size: 36px;
  font-weight: bold;
}

nav ul li {
  list-style: none;
}

nav li a {
  text-decoration: none;
}

/* banner styles */
.banner {
  text-align: center;
  margin: 250px 250px;
}

.banner-description {
  font-size: 65px;
  font-weight: bold;
}