.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* body {
  min-height: 100vh;
  background-image: linear-gradient(to right bottom, #e0e2e3, #d1d9e5, #c1d5e8, #b0cfec, #9ec8f1);
} */

button:hover {
  cursor: pointer;
  background-color: #6a65ffc9;
}

/* shared styles */
.text-color {
  color: #6a65ff;
}

.description-color {
  color: #25243294;
}

.btn-primary {
  background-color: #6a65ff;
  font-size: 14px;
  font-weight: bold;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.266);
  cursor: pointer;
}

.btn-secondary {
  background-color: #6a65ff;
  font-size: 14px;
  font-weight: bold;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.266);
  cursor: pointer;
  margin-bottom: 155px;
}

.btn-third {
  background-color: #6a65ff;
  font-size: 14px;
  font-weight: bold;
  color: white;
  padding: 19px 101px;
  width: 100%;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.266);
  cursor: pointer;
  /* margin-bottom: 155px; */
}

/* header styles */
.header {
  background-image: url(../images/Hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;

}

/* nav styles */
nav {
  padding: 15px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-title {
  font-size: 36px;
  font-weight: bold;
}

nav ul li {
  list-style: none;
}

nav li a {
  text-decoration: none;
}

/* banner styles */
.banner {
  text-align: center;
}

.banner-description {
  font-size: 65px;
  font-weight: bold;
  margin-top: 110px;
}

/* main styles */
main {
  max-width: 1140px;
  margin: 0px auto;
}

main section {
  margin-top: 130px;
  margin-bottom: 130px;
}

/* action styles */
.action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action-content {
  max-width: 480px;
}

.action-title {
  font-size: 42px;
  font-weight: bold;
}

.action-description {
  font-size: 24px;
  font-weight: 400px;
}

.action-pic {
  width: 403px;
  height: 328px;
  border-radius: 40px;
}

/* productive styles */
.productive {
  background-color: #4763ff1f;
  padding: 50px 80px;
  border-radius: 20px;
  align-items: center;
}

.productives {
  display: flex;
  justify-content: space-around;
}

.productive-title {
  font-size: 38px;
  font-weight: bold;
  text-align: center;
}

.productive-users {
  font-size: 80px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.productive-description {
  font-size: 20px;
  font-weight: 400px;
  margin-top: 10px;
  text-align: center;
}

/* review styles */
.review-container {
  display: flex;
  padding: 24px;
  gap: 35px;
  align-items: center;
}

.review-title {
  text-align: center;
  font-size: 42px;
  font-weight: bold;
}

.review-content {
  padding: 24px 24px;
  background-color: #4763ff1f;
  border-radius: 20px;
}

.review-star {
  height: 20px;
  width: 150px;
}

.reviewer-pic {
  width: 40px;
  height: 40px;
  border-radius: 999px;
  margin-right: 10px;
}

.comment-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.comment-description {
  font-size: 14px;
  font-weight: 400px;
}

.reviewer {
  font-size: 14px;
  font-weight: 400px;
  margin-bottom: 5px;
}

.date {
  font-size: 14px;
  font-weight: 400px;
  margin: 0px;
}

.reviewer-content {
  display: flex;
  align-items: center;
}

.reviewer-description {
  display: flex;
  flex-direction: column;
}

/* newsletter styles */
.newsletter {
  display: flex;
  gap: 115px;
}

.newsletter-title {
  font-size: 97px;
  font-weight: bold;
}

section input[type='text'] {
  height: 50px;
  width: 100%;
  padding: 5px 15px;
  border-radius: 10px;
  border: none;
  background-color: white;
}

section input[type='email'] {
  height: 50px;
  width: 100%;
  padding: 5px 15px;
  border-radius: 10px;
  border: none;
  background-color: white;
}


section textarea {
  height: 110px;
  width: 100%;
  padding: 5px 15px;
  border-radius: 10px;
  border: none;
  background-color: white;
}

.form-title {
  font-size: 18px;
  font-weight: 600px;
}